#friend-page {
  margin-top: 130px;
  position: relative;
}

.friend-page-container {
  padding: 0 20px;
  display: flex;
}

/* Standart (desktop) görünüş */
.user-nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.user-nav button {
  width: 70%;
  padding: 15px;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 800;
  transition: all 0.5s ease-in-out;
}

.active {
  background-color: var(--primary-color) !important;
  font-weight: 800 !important;
  color: #fff !important;
}

/* Content Panel */
.content-panel {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rendered-content {
  width: 93%;
}

.user-nav-btn {
  border: 2px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  font-weight: 800 !important;
  transition: all 0.5s ease-in-out !important;
  width: 100% !important;
  font-size: 10px !important;
}

.user-nav-btn-active {
  background-color: var(--primary-color) !important;
  font-weight: 800 !important;
  color: #fff !important;
  width: 100% !important;
  font-size: 10px !important;
}

/* Responsive (mobil) görünüş */
@media (max-width: 600px) {
  .friend-page-container {
    flex-direction: column;
  }
  .user-nav {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .user-nav button {
    flex: 1;
    padding: 10px;
  }
  .content-panel {
    width: 100%;
  }
  .rendered-content {
    width: 100%;
  }
}
