.search-modal-button {
  background-color: white;
  font-size: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Style for the dialog box */
.search-dialog {
  margin: auto;
}

.dialog-title {
  font-size: 24px;
  color: #333;
}

.friend-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.search-input {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: var(--primary-color);
}

.search-modal-close-button {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-modal-close-button:hover {
  background-color: #e53935;
}

.dialog-actions {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.search-modal-close-button {
  margin-top: 10px;
  padding: 8px 16px;
}
