.faq-content-enter {
  max-height: 0;
  opacity: 0;
}
.faq-content-enter-active {
  max-height: 500px; /* Ehtiyacınıza uyğun maksimum hündürlük */
  opacity: 1;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}
.faq-content-exit {
  max-height: 500px;
  opacity: 1;
}
.faq-content-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}
